@charset "UTF-8";
html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, a, input, img, ul, li, ol, dl, dt, dd {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  border: 0;
}

input {
  outline: none;
}

header, footer, section, nav {
  display: block;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
  color: #565656;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@font-face {
  font-family: "iconfont";
  src: url("../iconfont/font-index/iconfont.eot?t=1495520972550");
  /* IE9*/
  src: url("../iconfont/font-index/iconfont.eot?t=1495520972550#iefix") format("embedded-opentype"), url("../iconfont/font-index/iconfont.woff?t=1495520972550") format("woff"), url("../iconfont/font-index/iconfont.ttf?t=1495520972550") format("truetype"), url("../iconfont/font-index/iconfont.svg?t=1495520972550#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouxiangzuo:before {
  content: "\e643";
}

.icon-c:before {
  content: "\e654";
}

.icon-wode:before {
  content: "\3575";
}

.icon-gouwuche:before {
  content: "\e608";
}

.icon-gouwuche1:before {
  content: "\e617";
}

.icon-liebiao:before {
  content: "\e62e";
}

.icon-sousuo-sousuo:before {
  content: "\e503";
}

.icon-xin:before {
  content: "\e60b";
}

.icon-sousuoliebiao:before {
  content: "\e62c";
}

.icon-totop:before {
  content: "\e7c6";
}

.icon-shouye:before {
  content: "\e621";
}

body, html {
  height: 100%;
}

.container {
  background-color: #F4F4F4;
}

.container {
  border: 1px solid #E3E3E4;
}

.container header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 43px;
  width: 100%;
  justify-content: space-between;
  padding-left: 17px;
  padding-right: 17px;
  border-bottom: 1px solid #D9D9D9;
}

.container header a {
  display: inline-block;
  height: 43px;
}

.container header a i {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  color: #7F7F7F;
  font-size: 20px;
}

.container header p {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  font-size: 15px;
  color: #7D7D7D;
}

.container .cLBody .cLBodyBox {
  height: 100%;
  width: 100%;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic {
  border-bottom: 1px solid #D9D9D9;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic .cLBodyBoxClassicTop {
  height: 30px;
  padding-left: 6px;
  line-height: 30px;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic .cLBodyBoxClassicTop span {
  display: inline-block;
  height: 18px;
  padding-left: 11px;
  border-left: 2px solid #F59D2B;
  line-height: 18px;
  color: #555555;
  font-size: 16px;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic > ul {
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic > ul li {
  width: 25%;
  padding: 5px;
  padding-bottom: 5px;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic > ul li a img {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 0 0 #eee;
}

.container .cLBody .cLBodyBox .cLBodyBoxClassic > ul li a p {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #333333;
}

.container footer {
  height: 66px;
  background-color: #FFF;
  text-align: center;
  line-height: 25px;
  padding-top: 10px;
}

.container footer p {
  font-size: 12px;
  color: #333;
}

.container footer p i {
  font-size: 14px;
  color: #333;
}
