@charset "UTF-8";
@import url("base.css");
@import url("../iconfont/iconfont.css");
@import url("../css/swiper-3.4.2.min.css");
@import url("../iconfont/font-index/iconfont.css");
* { padding: 0; margin: 0 auto; text-decoration: none; }

body, html { height: 100%; margin: 0; padding: 0; z-index: -1; }

#box { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; height: 100%; flex-wrap: wrap; max-width: 640px; }

#box header { height: 0.84rem; text-align: center; position: relative; background: #f4f4f4; width: 100%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 15; }

#box header .h_2 { font-size: 0.32rem; line-height: 0.84rem; font-weight: normal; }

#box header .back { position: absolute; left: 0.3rem; top: 0.2rem; font-size: 0.4rem; color: #888; }

#box header .index { position: absolute; right: 0.3rem; top: 0.12rem; text-decoration: none; font-size: 0.58rem; color: #888; }

#box main { flex: 1; width: 100%; overflow-x: hidden; overflow-y: auto; position: relative; }

#box main ul { width: 100%; height: 0.76rem; border-bottom: 0.02rem solid #ccc; border-top: 1px solid #ccc; background: #fff; z-index: 1; max-width: 640px; }

#box main ul li { float: left; width: 50%; text-align: center; height: 0.74rem; line-height: 0.74rem; color: #333; font-size: 0.26rem; }

#box main ul li:nth-child(1) { border-right: 0.02rem solid #ccc; }

#box main .swiper-container { width: 100%; height: auto; }

#box main .swiper-container img { width: 100%; height: auto; }

#box main .goods { padding: 0 0.2rem; line-height: 0.5rem; }

#box main .goods .title { width: 85%; float: left; position: relative; left: 0; display: block; line-height: 0.7rem; font-size: 0.3rem; }

#box main .goods .like { width: 15%; display: inline-block; text-align: center; font-size: 0.26rem; border-left: 0.02rem solid #ccc; padding-left: 0.04rem; color: #333; line-height: 0.4rem; }

#box main .goods .price p { font-size: 0.36rem; color: #fb3f3e; font-weight: bold; }

#box main .goods .price p:before { content: '￥'; }

#box main .goods .Explain { font-size: 0.26rem; height: 0.74rem; line-height: 0.74rem; border-top: 0.02rem solid #ccc; }

#box main .goods .contain ul { width: 100%; height: 0.76rem; border-bottom: 0.02rem solid #ccc; border-top: 1px solid #ccc; background: #fff; z-index: 1; }

#box main .goods .contain ul li { float: left; width: 50%; text-align: center; height: 0.74rem; line-height: 0.74rem; color: #333; font-size: 0.26rem; }

#box main .goods .contain ul li:nth-child(1) { border-right: 0.02rem solid #ccc; }

#box main .goods .contain .detail { width: 100%; }

#box main .goods .contain .detail .m { width: 100%; }

#box main .goods .contain .detail .m .t { width: 100%; margin-bottom: 0.2rem; }

#box main .goods .contain .detail .m .t .d { font-size: 0.28rem; font-weight: bold; text-align: center; line-height: 0.68rem; border-bottom: 0.02rem dotted #B3B3B3; }

#box main .goods .contain .detail .m .t .d i { color: #cbcbcb; font-size: 0.32rem; }

#box main .goods .contain .detail .m .t p { font-size: 0.26rem; color: #333; margin-top: 0.2rem; }

#box main .goods .contain .detail .m .t p:nth-child(1) { margin-top: 0.0rem; }

#box main .goods .contain .detail .m .img img { width: 100%; height: auto; }

#box main .goods .contain .detail .comment { width: 100%; z-index: 6; background: #fff; }

#box main .goods .contain .detail .comment .t .d { font-size: 0.28rem; font-weight: bold; text-align: center; line-height: 0.68rem; border-bottom: 0.02rem dotted #B3B3B3; }

#box main .goods .contain .detail .comment .t .d i { color: #cbcbcb; font-size: 0.32rem; }

#box main .goods .contain .detail .comment .com div { border-bottom: 0.02rem dotted #B3B3B3; padding: 0.1rem 0; position: relative; }

#box main .goods .contain .detail .comment .com div p { font-size: 0.24rem; color: #333; padding: 0.1rem 0; }

#box main .goods .contain .detail .comment .com div p span img { width: 2.0rem; vertical-align: top; display: inline-block; }

#box main .goods .contain .detail .comment .com div p .time { position: absolute; right: 0; }

#box main .goods .contain .detail .comment .com .page { text-align: center; border-bottom: 0; }

#box main .goods .contain .detail .comment .com .page span { font-size: 0.26rem; }

#box main .goods .contain .detail .comment .com .page a { color: #000; font-size: 0.26rem; margin: 0.2rem; }

#box main .goods .contain .detail .comment .com .ping { border-bottom: none; }

#box main .goods .contain .detail .comment .com .ping p { font-size: 0.26rem; }

#box main .goods .contain .detail .comment .com .ping p span { font-weight: bold; }

#box main .goods .contain .detail .comment .com .ping label { font-size: 0.26rem; }

#box main .goods .contain .detail .comment .com .ping input { margin-left: 0.1rem; }

#box main .goods .contain .detail .comment .com .ping textarea { height: 1.92rem; width: 100%; margin-top: 0.16rem; border-radius: 0.1rem; border: 1px solid #e3e3e3; }

#box main .goods .contain .detail .comment .com .ping .btn { width: 100%; display: block; text-align: center; line-height: 0.66rem; height: 0.66rem; border: 0.02rem solid #c0c0c0; color: #fb3f3e; border-radius: 0.32rem; background: none; font-size: 0.28rem; margin-top: 0.06rem; }

#box main .goods .contain .detail .comment .com .ping .xinxi { border-bottom: none; }

#box main .goods .contain .detail .comment .com .ping .xinxi p { text-align: center; }

#box footer { width: 100%; height: 1.0rem; background: #Fff; position: relative; box-shadow: 0 -0.02rem 0.04rem rgba(0, 0, 0, 0.1); z-index: 10; }

#box footer .l { width: 20%; }

#box footer .l a .shop { font-size: 0.54rem; position: absolute; left: 0.2rem; top: 0.16rem; border-right: 0.02rem solid #ccc; width: 1.0rem; color: #888; }

#box footer .l a .shu { position: absolute; display: block; background: #fb3f3e; width: 0.36rem; height: 0.36rem; color: #fff; border-radius: 0.18rem; text-align: center; line-height: 0.36rem; font-size: 0.24rem; left: 0.6rem; top: 0.08rem; }

#box footer .r { width: 80%; }

#box footer .r .buy { font-size: 0.22rem; text-align: center; line-height: 0.6rem; position: absolute; top: 0.2rem; left: 1.4rem; display: block; width: 37%; height: 0.6rem; border-radius: 0.3rem; background: #fb3f3e; color: #fff; }

#box footer .r .car { font-size: 0.22rem; text-align: center; line-height: 0.6rem; position: absolute; top: 0.2rem; right: 0.2rem; display: block; width: 37%; height: 0.6rem; border-radius: 0.3rem; background: #fb3f3e; color: #fff; }

#box .hei { width: 100%; height: 100%; background: #000; position: fixed; z-index: 1; opacity: 0.4; top: 0%; display: none; max-width: 640px; }

#box .hei1 { width: 100%; height: 100%; background: #000; position: fixed; z-index: 10; opacity: 0.4; top: 0%; display: none; max-width: 640px; }

#box .zhe { width: 100%; height: 650px; overflow-y: scroll; overflow-x: hidden; background: #fff; position: fixed; top: 100%; z-index: 8; max-width: 640px; }

#box .zhe .xuan { width: 100%; height: 9.08rem; background: #fff; padding: 0.2rem; max-width: 640px; }

#box .zhe .xuan .top { position: relative; border-bottom: 0.02rem dotted #B3B3B3; }

#box .zhe .xuan .top .tu { width: 2.12rem; height: 2.12rem; float: left; }

#box .zhe .xuan .top .tu img { width: 2.12rem; height: 2.12rem; }

#box .zhe .xuan .top .clo-btn { display: block; width: 0.4rem; height: 0.4rem; border: 0.02rem solid #000; border-radius: 50%; font: 0.32rem/0.38rem 'arial'; position: absolute; top: 0.0rem; left: 5.6rem; text-align: center; }

#box .zhe .xuan .top .txt { float: left; width: 2.4rem; height: 2.0rem; margin-left: 0.3rem; }

#box .zhe .xuan .top .txt p { font-size: 0.26rem; line-height: 0.54rem; }

#box .zhe .xuan .top .txt .price { color: #DD2727; font-size: 0.32rem; }

#box .zhe .xuan .top .txt .price:before { content: '￥'; }

#box .zhe .xuan .center { line-height: 0.3rem; }

#box .zhe .xuan .center p { font-size: 0.26rem; margin-top: 0.12rem; }

#box .zhe .xuan .center span { display: inline-block; width: 31%; height: 0.56rem; border: 0.02rem solid #878787; text-align: center; line-height: 0.56rem; font-size: 0.24rem; margin-top: 0.16rem; }

#box .zhe .xuan .center .b { margin-top: 0.4rem; }

#box .zhe .xuan .center .b .cut { display: inline-block; width: 0.6rem; height: 0.6rem; line-height: 0.6rem; text-align: center; background-color: #eee; float: left; font-size: 0.24rem; }

#box .zhe .xuan .center .b .count { height: 0.6rem; width: 1.6rem; border: solid #eee; border-width: 0.02rem 0; float: left; text-align: center; }

#box .zhe .xuan .center .b .add { display: inline-block; width: 0.6rem; height: 0.6rem; line-height: 0.6rem; text-align: center; background-color: #eee; float: left; font-size: 0.24rem; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }

.active { border: 0.02rem solid #ffae00 !important; color: #f02387; background: url(../images/selected.png) right bottom no-repeat; background-size: 0.32rem; }

.u-flyer { display: block; width: 0.8rem; height: 0.8rem; border-radius: 1.0rem; position: fixed; z-index: 9999; }

.indexToTop { display: none; opacity: 0.8; position: fixed; bottom: 1.02rem; right: 0.28rem; width: 0.88rem; height: 0.88rem; border-radius: 50%; background-color: #F00; text-align: center; line-height: 0.88rem; }

.indexToTop i { font-size: 0.48rem; color: white; left: 0.21rem; position: absolute; }

.tip { width: 5.0rem; height: 2.4rem; background: #fff; position: absolute; display: none; border-radius: 0.1rem; z-index: 15; left: 50%; top: 50%; margin-left: -2.5rem; margin-top: -1.2rem; }

.tip .b1 p { font-size: 0.26rem; text-align: center; margin-top: 0.24rem; }

.tip .b1 .car1 { display: block; width: 2.1rem; height: 0.44rem; border-radius: 0.23rem; background: #F00; color: #fff; font-size: 0.26rem; text-align: center; line-height: 0.44rem; margin-top: 0.28rem; }

.tip .top1 { height: 0.8rem; width: 100%; border-bottom: 0.02rem solid #ccc; text-align: center; }

.tip .top1 .close { font-size: 0.26rem; color: #F00; position: relative; top: -0.6rem; left: 2.2rem; display: block; width: 0.4rem; height: 0.4rem; }

.tip .top1 p { line-height: 0.8rem; font-size: 0.26rem; }

.tip .top1 p span { display: inline-block; width: 0.4rem; height: 0.4rem; background: #F00; color: #fff; border-radius: 0.2rem; font-size: 0.24rem; line-height: 0.42rem; text-align: center; margin-right: 0.2rem; }
