@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select, figure, figcaption {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

img {
  border: none;
}

table {
  border-collapse: collapse;
}

textarea {
  resize: none;
  overflow: hidden;
}

body {
  font-family: "微软雅黑";
  font-size: 12px;
  box-sizing: border-box;
}

header, nav, article, aside, section, footer, main {
  display: block;
  width: 100%;
}

* {
  margin: 0 auto;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.container {
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container header {
  height: 0.84rem;
  width: 100%;
  display: flex;
  background-color: #F4F4F4;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.02rem solid #ccc;
  color: #7D7D7D;
}

.container header i {
  font-size: 0.5rem;
  margin: 0 0.2rem;
}

.container header span {
  font-size: 0.32rem;
  font-family: "微软雅黑";
}

.container main {
  background-color: #E8E8E8;
}

.container main .form {
  padding: 0.2rem;
}

.container main .form ul {
  background: #fff;
  border-radius: 0.08rem;
  border: #dadada 0.02rem solid;
  margin-bottom: 0.2rem;
}

.container main .form ul li {
  padding: 0.24rem 0.2rem;
  font-size: 0.3rem;
  border-bottom: 0.02rem solid #e3e3e3;
  color: #858585;
}

.container main .form ul li input {
  border: none;
  width: 75%;
  font-size: 0.3rem;
}

.container main .form ul li i {
  font-size: 0.5rem;
  cursor: pointer;
}

.container main .form button {
  width: 100%;
  background: #fb3f3e;
  border-radius: 0.3rem;
  line-height: 0.6rem;
  text-align: center;
  border: none;
  outline: none;
  font-size: 0.3rem;
  color: white;
  cursor: pointer;
}

.container main footer {
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.4rem;
  width: 100%;
  background-color: white;
}
