@charset "UTF-8";
@import url("../iconfont/iconfont.css");
@import url("../iconfont/font-index/iconfont.css");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #555;
}

ul {
  list-style: none;
}

body {
  background: #f7f7f7;
  color: #555;
  font-size: 0.24rem;
  margin: 0 auto;
  max-width: 640px;
  font-weight: normal;
  font-family: "微软雅黑";
}

.f-cb {
  zoom: 1;
}

i {
  font-style: normal;
}

.f-cb:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "";
}

img {
  width: 100%;
  height: auto;
}

.list {
  width: 100%;
}

.wra {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  max-width: 640px;
}

header {
  height: 0.84rem;
  text-align: center;
  position: relative;
  background: #3FB4EA;
  width: 100%;
  z-index: 15;
}

header .h_2 {
  font-size: 0.32rem;
  line-height: 0.84rem;
  font-weight: normal;
  color: #fff;
}

header .back {
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  font-size: 0.36rem;
  color: #fff;
}

header .index {
  position: absolute;
  right: 0.3rem;
  top: 0.12rem;
  text-decoration: none;
  font-size: 0.52rem;
  color: #fff;
}

.Title {
  flex: 5;
  display: inline-block;
  line-height: 2.5rem;
  display: block;
  color: #7d7d7d;
  font-size: 0.32rem;
  text-align: center;
}

.Return, .Home {
  display: inline-block;
  font-size: 0.36rem;
  margin: 0 auto;
  line-height: 2.5rem;
  font-weight: normal;
}

.nav {
  width: 100%;
}

.nav .daohang {
  height: 0.76rem;
}

.nav .daohang .fir-ul {
  background: #e7e7e7;
  display: flex;
  height: 0.76rem;
}

.nav .daohang ul li:first-child {
  border-left: none;
}

.nav .daohang ul li {
  border-bottom: 1px solid #ccc;
  flex: 1;
  height: 0.76rem;
}

.nav .daohang ul li .sort, .nav .daohang ul li .screen {
  color: #000;
  display: block;
  border-left: #ccc 0.02rem solid;
  text-align: center;
  font-size: 0.28rem;
  line-height: 0.76rem;
  font-size: 0.26rem;
}

.nav .daohang ul li .sort {
  border: 0;
}

.nav .daohang .sorts {
  width: 100%;
  font-size: 0.24rem;
  background: #fff;
  box-shadow: 0 0.02rem 0.06rem rgba(0, 0, 0, 0.3);
  z-index: 12;
}

.nav .daohang .sorts .active {
  color: #f59d2b;
}

.nav .daohang .sorts li {
  text-align: center;
  display: inline-block;
  width: 24%;
  height: auto;
  line-height: 1;
  padding: 0.2rem 0;
  border-bottom: none;
}

.nav .daohang .screens {
  width: 100%;
  font-size: 0.24rem;
  background: #fff;
  box-shadow: 0 0.02rem 0.06rem rgba(0, 0, 0, 0.3);
  padding-bottom: 0.3rem;
}

.nav .daohang .screens li {
  display: inline-block;
  width: 28%;
  text-align: center;
  height: 0.7rem;
  line-height: 0.7rem;
  margin: 0.34rem 0.14rem;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #e7e7e7;
  color: #444;
  -webkit-border-radius: 0.19rem;
  -moz-border-radius: 0.19rem;
  -o-border-radius: 0.19rem;
  border-radius: 0.19rem;
}

.center {
  background-color: #fff;
  padding-top: 1.6rem;
  padding-bottom: 0.24rem;
}

.center ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.12rem;
  justify-content: space-between;
}

.center ul li {
  padding: 0.06rem;
  width: 47%;
  border: 0.02rem solid #E5E5E5;
  margin-bottom: 0.12rem;
  background-color: #FFF;
  position: relative;
  padding-bottom: 0.9rem;
}

.center ul li dt {
  display: inline-block;
  margin-top: 0.046875rem;
  margin-bottom: 0.046875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0 0.1rem;
}

.center ul li dt a {
  font-weight: normal;
  font-size: 0.26rem;
  line-height: 0.32rem;
  display: block;
  overflow: hidden;
}

.center ul li .sale, .center ul li .Sale {
  position: absolute;
  top: 4.0rem;
  width: 100%;
}

.center ul li .Price {
  position: absolute;
  top: 3.82rem;
  padding: 0 0.1rem;
}

.center ul li .Price .pri-left .prife-price {
  color: #fb3f3e;
  font-size: 0.26rem;
  font-style: normal;
}

.center ul li .Price .pri-left .ori-price {
  font-size: 0.24rem;
  font-style: normal;
  text-decoration: line-through;
}

.center ul li .title-price {
  font-size: 0.26rem;
}

.center ul li .pri-right {
  margin-top: 0.2rem;
  display: block;
  width: 100%;
  text-align: right;
  font-size: 0.24rem;
  margin-right: 0.34rem;
  color: #888;
}

.center ul li .pri-right i {
  padding-right: 0.24rem;
}

.footer p {
  width: 100%;
  text-align: center;
  font-size: 0.24rem;
  margin: 0.2rem 0;
}

.indexToTop {
  display: none;
  opacity: 0.8;
  position: fixed;
  bottom: 1.02rem;
  right: 0.28rem;
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  background-color: #FF4D4D;
  text-align: center;
  line-height: 0.88rem;
}

.indexToTop i {
  font-size: 0.48rem;
  color: white;
}
