@charset "UTF-8";
* { margin: 0; padding: 0; }

a { text-decoration: none; color: #555; }

ul { list-style: none; }

body { background: #f7f7f7; color: #555; font-size: 12px; margin: 0 auto; max-width: 640px; font-weight: normal; font-family: "微软雅黑"; }

.f-cb { zoom: 1; }

i { font-style: normal; }

.f-cb:after { display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; content: ""; }

img { width: 100%; height: auto; }

.list { width: 100%; }

.wra { width: 100%; position: fixed; z-index: 99; top: 0; max-width: 640px; }

.Header { width: 100%; background: #f4f4f4; height: 2.5rem; border-bottom: .1rem solid #cccccc; display: flex; justify-content: space-between; margin: 0 auto; padding-left: 1rem; }

.Header a { display: inline-block; flex: 1; }

.Title { flex: 5; display: inline-block; line-height: 2.5rem; display: block; color: #7d7d7d; font-size: 16px; text-align: center; }

.Return, .Home { display: inline-block; font-size: 18px; margin: 0 auto; line-height: 2.5rem; font-weight: normal; }

.nav { width: 100%; }

.nav .daohang .fir-ul { background: #e7e7e7; height: 2.325rem; }

.nav .daohang ul { background: #fff; display: flex; }

.nav .daohang ul li:first-child { border-left: none; }

.nav .daohang ul li { border-bottom: 1px solid #ccc; flex: 1; }

.nav .daohang ul li span { color: #000; display: block; margin: 0.48rem 0; border-left: #ccc 1px solid; text-align: center; font-size: 14px; }

.nav .daohang ul li .sort { border: 0; }

.nav .daohang .sorts { width: 100%; display: flex; font-size: 14px; }

.nav .daohang .sorts .active { color: #f59d2b; border-bottom: #f59d2b 0.15rem solid; }

.nav .daohang .sorts .fir-sort { margin-left: 0.3rem; }

.nav .daohang .sorts li { text-align: center; display: inline-block; width: 23%; height: auto; line-height: 1; padding: 0.87rem 0; border-bottom: none; }

.nav .daohang .screens { width: 100%; font-size: 14px; padding-bottom: 0.8rem; }

.nav .daohang .screens li { display: inline-block; width: 28%; text-align: center; height: 1.9rem; line-height: 1.9rem; margin: 1.43rem 2% 0; padding: 0; border: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background: #e7e7e7; color: #444; -webkit-border-radius: 0.19rem; -moz-border-radius: 0.19rem; -o-border-radius: 0.19rem; border-radius: 0.19rem; }

.center { background-color: #fff; padding-top: 5.6rem; }

.center ul { display: flex; flex-wrap: wrap; padding: 6px; margin-bottom: 50px; justify-content: space-between; }

.center ul li { padding: 3px; width: 47%; border: 1px solid #E5E5E5; margin-bottom: 6px; background-color: #FFF; }

.center ul li dt { display: inline-block; margin-top: 0.046875rem; margin-bottom: 0.046875rem; }

.center ul li dt a { font-weight: normal; font-size: 13px; line-height: 16px; display: block; height: 2.64rem; overflow: hidden; }

.center ul li .title-price { padding-bottom: 0.46rem; }

.center ul li .pri-left .prife-price { color: #fb3f3e; font-size: 0.6rem; font-style: normal; }

.center ul li .pri-left .ori-price { font-size: 0.5rem; font-style: normal; text-decoration: line-through; }

.center ul li .pri-right { margin-top: 0.34rem; display: block; width: 100%; text-align: right; font-size: 0.55rem; margin-right: 0.34rem; color: #888; }

.footer p { width: 100%; padding: 0.57rem 0; line-height: 1.5; text-align: center; font-size: 0.75rem; }

.indexToTop { display: none; opacity: 0.8; position: fixed; bottom: 51px; right: 14px; width: 44px; height: 44px; border-radius: 50%; background-color: #FF4D4D; text-align: center; line-height: 44px; }

.indexToTop i { font-size: 24px; color: white; }
