#Hfoot {
  padding-top: 0.078125rem;
  width: 0.859375rem;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  background: #fff;
  font-size: 0.234375rem; }

.foot-p {
  line-height: 0.429688rem; }
