@import 'common';

body,html{height: 100%;}
.container{
	height:100%;
	// display: -webkit-flex;
	// display: -moz-flex;
	// display: -ms-flex;
	// display: -o-flex;
	// display:flex;
	// flex-direction:column;
}
.container{
	border:1px solid #E3E3E4;
	header{
		position:fixed;
		top:0;
		height: 43px;
		width: 100%;
		line-height: 43px;
		background-color: #F4F4F4;
		border-bottom:1px solid #E3E3E4;
		display:flex;
		padding-left:17px;
		padding-right:17px;
		a,i,h3{
			display:inline-block;
			color:#8A8A8A;
		}
		i{
			flex:1;
			font-size:20px;
		}
		h3{
			flex:8;
			text-align:center;
			font-size:16px;
			font-weight:normal;
		}
	}
	.indexNavInBanner{
		margin-top:43px;
		img{width: 100%}
	}
	.indexList{
		ul{
			display:flex;
			flex-wrap: wrap;
			padding:6px;
			margin-bottom:50px;
			justify-content:space-between;
			li{
				padding:3px;
				width: 49%;
				border:1px solid #E5E5E5;
				margin-bottom:6px;
				a{
					display:inline-block;
					margin-bottom:6px;
					p{
						color:#555555;
					}
				}
				img{width: 100%;margin-bottom:4px;}
				&>p{
					display:inline-block;
				}
				.indexListPriceNow{
					color:#FB3F3E;
				}
				.indexListPriceOriginal{
					color:#888888;
				}
				.indexListBottom{
					display:block;
					margin-top:6px;
					text-align:right;
					i{
						font-size:8px;
						color:#888888;
					}
					&>p{
						display:inline-block;
						color:#888888;
					}
				}
			}
		}
	}
	.loading{
		display:none;
		position:fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		//background-color: #ccc;

		//z-index:999;
		img{
			display:inline-block;
			width: 20px;
			position:fixed;
			top:48%;
			left:48%;
		}

	}
}