		#Hfoot{
			padding-top:0.078125rem;
			width:0.859375rem;
			box-sizing: border-box;
			text-align:center;
			width:100%;
			background:#fff;
			font-size: 0.250rem;
			color: #4A4A4A;
			}
			.foot-p{
				line-height:0.429688rem;
			}
